<html>
    <head>
        <title>Load SDK</title>

        <script>
            scSDK = {
                load(version, callback) {
                    require([`/static/sc-${version}.js`], callback);
                }
            };
        </script>

        <!--//TODO-->
        <!--        <script>
            if (!window['prdPlatform']) {
                window['prdPlatform'] = {};
            }
            if (!window['prdPlatform']['loader']) {
                window['prdPlatform']['loader'] = {};
                prdPlatform.loader.baseUrl = 'http://www.localhost:8080';
                prdPlatform.loader.modulesMap ={
                    scSDK: {
                        v1: `/static/sc-v1.js`
                    }
                };

                (function () {
                    prdPlatform.load = function (moduleName, version, callback) {
                        const module = prdPlatform[moduleName][version];
                        if(module) {
                            callback(module)
                        }

                        const moduleUrl = prdPlatform.loader.modulesMap[moduleName][version];
                        const script = document.createElement('script');
                        let loaded;
                        script.src = moduleUrl;

                        if (callback) {
                            script.onreadystatechange = script.onload = function() {
                                if (!loaded) {
                                    callback();
                                }
                                loaded = true;
                            };
                        }

                        document.getElementsByTagName(`head`)[0].appendChild(script);
                    }

                })
            }


            prdPlatform.load('scSDK', 'v1', callback)
        </script>-->
    </head>
    <body>
        <h4>Fragments</h4>
        <fragment src="http://localhost:8081"></fragment>
        <fragment src="http://localhost:8082"></fragment>
        <fragment src="http://localhost:8083"></fragment>
    </body>
</html>
